body{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
.center{
    text-align: center;
}
.brown{
    color: bisque;
    font-weight: bold;
}
.map{
    text-align: center;
}