body{
 background-color:#10100E;
 color:#cccccc;
 }

h1{font-family:serif;
    font-weight:bold;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size:200%;

}

p{
    font-family:serif;
    font-weight:bold;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size:200%;
}

p1{
    text-decoration: underline;
    font-family:serif;
    font-size: 250%;
}

ul {
    background-color:whitesmoke;
    font-family:serif;
    margin-left: 3px;
    padding: 16px 16px 16px 64px;
    border-style: serif;
    border-width: 2px;
    border-color: white;
    font-size:130%
  }